html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
}

/* controls */
.vp-controls,
.vp-controls > * {
  padding: 0;
  margin: 0;
}
/* .vp-controls {
  height: 10%;
} */

.vp-controls button {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  text-indent: -99999px;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.vp-controls button:hover,
.vp-controls button:focus,
.vp-subtitles-menu li button:hover,
.vp-subtitles-menu li button:focus,
.vp-subtitles-menu li button[data-state="active"] {
  opacity: 0.5;
}
.vp-controls button[data-state="play"] {
  background-image: url("./video player icons/play.svg");
}
.vp-controls button[data-state="pause"] {
  background-image: url("./video player icons/pause.svg");
}
.vp-controls button[data-state="stop"] {
  background-image: url("./video player icons/stop.svg");
}
.vp-controls button[data-state="mute"] {
  background-image: url("./video player icons/volume.svg");
}
.vp-controls button[data-state="unmute"] {
  background-image: url("./video player icons/volume_off.svg");
}

.vp-controls button[data-state="go-fullscreen"] {
  background-image: url("./video player icons/fullscreen.svg");
}
.vp-controls button[data-state="cancel-fullscreen"] {
  background-image: url("./video player icons/fullscreen_exit.svg");
}

.vp-controls progress {
  cursor: pointer;
  width: 100%;
  height: 1rem;
  display: block;
  margin-top: 2px;
  margin-top: 0.125rem;
  border: none;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #dd3b00; /* Internet Explorer uses this value as the progress bar's value colour */
}
.vp-controls progress[data-state="fake"] {
  background: #e6e6e6;
  height: 65%;
}
.vp-controls progress span {
  width: 0%;
  height: 100%;
  display: inline-block;
  background-color: #2a84cd;
}
.vp-controls progress::-moz-progress-bar {
  background-color: #dd3b00;
}
/* Chrome requires its own rule for this, otherwise it ignores it */
.vp-controls progress::-webkit-progress-value {
  background-color: #dd3b00;
}
/* subtitles menu */

/* WebVTT cues */
::cue {
  color: #ccc;
}
::cue(v[voice="Test"]) {
  color: #fff;
  background: #0095dd;
}

/* fullscreen */
html:-ms-fullscreen {
  width: 100%;
}
:-webkit-full-screen {
  background-color: transparent;
}
video:-webkit-full-screen + .vp-controls {
  background: #ccc; /* required for Chrome which doesn't heed the transparent value set above */
}
video:-webkit-full-screen + .vp-controls progress {
  margin-top: 0.5rem;
}

/* hide controls on fullscreen with WebKit */
/* figure[data-fullscreen="true"] video::-webkit-media-controls {
  display: none !important;
} */

figure[data-fullscreen="true"] {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
}
figure[data-fullscreen="true"] .video-box {
  width: 100%;
}
/* figure[data-fullscreenCurserMove="true"] .video-box .vp-controls {
  transform: translateY(0);
} */
figure[data-fullscreen="true"] video {
  height: auto;
}

figure[data-fullscreen="true"] .video-box .vp-controls {
  position: absolute;
  bottom: 0%;
  width: 100%;
  z-index: 2147483647;
  /* transform: translateY(100%); */
  opacity: 0;
}
figure[data-fullscreen="true"] .video-box .vp-controls:hover {
  opacity: 1;
}
/* I added this to hide my video controls*/
figure[data-fullscreencursermove="true"] .video-box .vp-controls {
  display: block !important;
}
/* I added this to hide my video controls*/
figure[data-fullscreen="true"] .vp-controls li {
  width: 5%;
}
figure[data-fullscreen="true"] .vp-controls .vp-progress {
  width: 100%;
}

/* I added these following lines */
.subtitles {
  height: 20%;
  position: absolute;
  bottom: 4rem; /* 2 rem for control buttons , 1 rem for progress bar and I add another 0.5 rem for space , so 3.5 rem from bottom. */
}
.subRow {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.image {
  display: block;
  width: 800px;
}

/* I added these up */
/* I added these:*/
/* #vp-video {
  max-width: 800px;
} */
#vp-videoContainer {
  height: 100vh;
  width: 100%;
}
.video-box {
  width: 100%;
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
}
.vp-player {
  width: 100%;
}
.vp-controls {
  bottom: 0;
}
.vp-controls-buttons {
  height: 2.5rem;
}
.middle-holder {
  width: 25%;
}
#vp-volume {
  cursor: pointer;
}

/* .modal-90w {
  width: 90%;
} */

.vp-modal-background[data-showModal="false"] {
  display: none;
}

.vp-modal-background[data-showModal="true"] {
  display: block;
}

.vp-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}
.vp-modal-content {
  width: 100%;
  position: relative;
}
figure[data-fullscreen="true"] .vp-modal-content {
  width: 75%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
}

#vp-image {
  width: 100%;
  padding: 15%;
}
.vp-modal-top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 5%;
  width: 100%;
}
.vp-modal-top-bar > div {
  width: 20%;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}
.vp-modal-top-bar > div > span:last-child {
  padding-bottom: 5px;
  font-style: italic;
}
.vp-modal-top-bar-icon {
  /* position: absolute;
  top: 10%;
  right: 10%; */
  width: 27px;
  height: 27px;
  z-index: 2;
}
.vp-AmP {
  background-image: url(../../shared/icons/volume.svg);
  z-index: 2;
}
.vp-BrP {
  background-image: url(../../shared/icons/volume.svg);
}
.vp-modal-close {
  background-image: url(../../shared/icons/close.svg);
}
/* .vp-modal-top-bar-button {
  width: 20%;
  color: #dd3b00;
} */
@media (orientation: landscape) {
  .video-box {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  .subRow {
    font-size: 1.5rem;
  }
  .middle-holder {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  /* .vp-modal-content {
    height: 100%;
  } */
}
